doctype html 5
html(ng-app="disordered")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height" )
        meta(name="viewport", content="initial-scale=1, user-scalable=no")
        title Disordered site
        link(rel="stylesheet", href="/styles/main.css")
        link(rel="icon" href="/images/favicon4.png" sizes="128x128")

        // libs
        each script in libs.js
            script(src= "/"+script.relative.replace(/\\/g, '/'))
        // app scripts
        each script in files.js
            script(src= "/"+script.relative.replace(/\\/g, '/'))
    body(style="background: black")
        div.main-wrapper(ui-view='') poipoi
