doctype html 5
html
    head
        meta(charset="utf-8")
        //- link(rel="shortcut icon" href=require("favicon.ico") type="image/x-icon")
        //- script(src="/config.js")
        title Disordered.ru

    body
        p Дизайна нет
        p Макета нет
        p Идей нет
        p Домен есть!
